.headertab .ant-tabs-tab-btn {
    font-size: 28px;
}

.headertab .ant-tabs-tab {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertab .ant-tabs-nav{
    width: 1400px;
    margin-bottom: 32px !important;
}

.headertab .ant-tabs-ink-bar{
    background: #2f6a81 !important;
}